## how to declare dictionary in different way
## how to access key and values of dictionary
## how to use loops in dictionary
## nested dictionary

In [6]:
student={'name':'khushi',
'class': 'btech',
'roll_no': 24,
'age': 22
}
print(student)

{'name': 'khushi', 'class': 'btech', 'roll_no': 24, 'age': 22}

In [7]:
temp={
    'lko': [25,30,35],
    'delhi': [30,35,40],
    'chennai': [24,23,22]
}
print(temp)

{'lko': [25, 30, 35], 'delhi': [30, 35, 40], 'chennai': [24, 23, 22]}

In [8]:
info=dict(name = 'khusi',age=22, roll_no=24, class_='btech')
print(info)

{'name': 'khusi', 'age': 22, 'roll_no': 24, 'class_': 'btech'}

In [9]:
info2=dict(name=input("enter your name"),
           age=int(input("enter your age")),
           roll_no=int(input("enter your roll_no")),
           class_=input("enter your class"))
print(info2)

{'name': 'khusi', 'age': 22, 'roll_no': 23, 'class_': '12'}

_ 1st method to access the value of a key

In [11]:
print(student['name'])
print(temp['lko'])

khushi
[25, 30, 35]

In [13]:
#2nd method to access the value of a key
print(student.get("age"))
print(info2.get('roll_no'))

22
23

In [14]:
#to add item in a dictionary
student['city']='lko'
student['school']='dps'
print(student)

{'name': 'khushi', 'class': 'btech', 'roll_no': 24, 'age': 22, 'city': 'lko', 'school': 'dps'}

In [15]:
#to remove item from a dictionary
student.pop('school')
print(student)

{'name': 'khushi', 'class': 'btech', 'roll_no': 24, 'age': 22, 'city': 'lko'}

In [16]:
#using del method
del student['roll_no']
print(student)

{'name': 'khushi', 'class': 'btech', 'age': 22, 'city': 'lko'}

In [17]:
for k in student:
    print(k)

name
class
age
city

In [18]:
for k,v in info2.items():
    print(f"{k} : {v}")

name : khusi
age : 22
roll_no : 23
class_ : 12

In [19]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['khushi', 'btech', 22, 'lko'])
dict_keys(['name', 'class', 'age', 'city'])
dict_items([('name', 'khushi'), ('class', 'btech'), ('age', 22), ('city', 'lko')])

In [20]:
company={
    'emp1' : {'name':'jhon','age':12,'dept':'HR','salary':'25000'},
    'emp2' : {'name':'emma','age':25,'dept':'Finance','salary':'30000'},
    'emp3' : {'name':'linda','age':23,'dept':'it','salary':'35000'},
    'emp4' : {'name':'khusi','age':22,'dept':'admin','salary':'40000'}
}
print(company)

{'emp1': {'name': 'jhon', 'age': 12, 'dept': 'HR', 'salary': '25000'}, 'emp2': {'name': 'emma', 'age': 25, 'dept': 'Finance', 'salary': '30000'}, 'emp3': {'name': 'linda', 'age': 23, 'dept': 'it', 'salary': '35000'}, 'emp4': {'name': 'khusi', 'age': 22, 'dept': 'admin', 'salary': '40000'}}

In [25]:
from pprint import pp

In [26]:
pp(company)

{'emp1': {'name': 'jhon', 'age': 12, 'dept': 'HR', 'salary': '25000'},
 'emp2': {'name': 'emma', 'age': 25, 'dept': 'Finance', 'salary': '30000'},
 'emp3': {'name': 'linda', 'age': 23, 'dept': 'it', 'salary': '35000'},
 'emp4': {'name': 'khusi', 'age': 22, 'dept': 'admin', 'salary': '40000'}}

In [27]:
print(company['emp2'])

{'name': 'emma', 'age': 25, 'dept': 'Finance', 'salary': '30000'}

In [29]:
print(company['emp4']['age'])

22

In [34]:
company['emp5']={'name':'khush','age':24,'dept':'manager','salary':23000}
print(company)

{'emp1': {'name': 'jhon', 'age': 12, 'dept': 'HR', 'salary': '25000'}, 'emp2': {'name': 'emma', 'age': 25, 'dept': 'Finance', 'salary': '30000'}, 'emp3': {'name': 'linda', 'age': 23, 'dept': 'it', 'salary': '35000'}, 'emp4': {'name': 'khusi', 'age': 22, 'dept': 'admin', 'salary': '40000'}, 'emp5': {'name': 'khush', 'age': 24, 'dept': 'manager', 'salary': 23000}}

In [35]:
#indexing in dictionary
print(temp['lko'][0])

25

In [37]:
#calculate the avg temp of delhi

print("average temp of delhi is :",sum(temp["delhi"])/len(temp["delhi"]))

average temp of delhi is : 35.0

In [2]:
num=1
while num<=11:
    if num%num==0:
        print("prime number")
        num+=1
    else:
        print("not prime number")

prime number
prime number
prime number
prime number
prime number
prime number
prime number
prime number
prime number
prime number
prime number